{% extends 'food/base.html' %}

{% block body%}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- When using FUNCTION View -->
                <!-- <img class="card" height="300px" width="300px" src="{{ item.item_image }}" /> -->
                <!-- When using CLASS View -->
                <img class="card" height="300px" width="300px" src="{{ object.item_image }}" />
            </div>
            <div class="col-md-6">
                <!-- When using FUNCTION View -->
                <!-- <h1>{{item.item_name}}</h1> -->
                <!-- <h2>{{item.item_desc}}</h2> -->
                <!-- <h3>{{item.item_price}}</h3> -->

                <!-- When using CLASS View -->
                <h1>{{object.item_name}}</h1>
                <h2>{{object.item_desc}}</h2>
                <h3>{{object.item_price}}</h3>

                <a href="{% url 'food:delete_item' item.id %}">Delete</a>
            </div>
        </div>

    </div>

    

{% endblock %}